<header>
  <nav class="main-heaeder-nav">    
    <div class="main-header-nav-item <%- activeNav ==='home'? 'active' : '' %>">    
      <a href="/">Home</a>   
     </div>   
    <div class="main-header-nav-item <%- activeNav ==='admin'? 'active' : '' %>">
      <a href="/admin/">Admin</a> 
    </div>
    <div class="main-header-nav-item <%- activeNav ==='shop'? 'active' : '' %>">
      <a href="/shop/">Shop</a> 
    </div>
  </nav> 
</header> 
<div class="main">
