<header>
  <nav class="main-heaeder-nav">    
    <div class="main-header-nav-item">
      <a href="/admin/">Admin</a> 
    </div>
    <div class="main-header-nav-item">   
      <a href="/shop/">Shop</a> 
    </div>
 <div class="main-header-nav-item active">    
   <a href="/">Home</a>   
  </div>   
  </nav> 
</header> 
