<header>
  <nav class="main-heaeder-nav">
    class="main-heaeder-nav"
    <a class="main-header-nav-item" href="/admin/">Admin</a> 
    <a class="main-header-nav-item" href="/shop/">Shop</a> 
    <a class="main-header-nav-item" href="/">Home</a>     
  </nav> 
</header> 
