<div class="form-container">

  <h1>Add a Book!</h1>
<form action="/admin/add-product" method="post">    
  <input type="text" id="fname" name="fname" placeholder="Title">
  <input type="text" id="lauthor" name="lauthor" placeholder="Author">    
  <input type="text" id="ldesc" name="ldesc" placeholder="Description">
  <input type="text" id="lcover" name="lcover" placeholder="Cover Link">
  <input type="submit" value="Submit">

</form>
</div>