<% includes("./includes/start.ejs") %>
<% includes("./includes/head-start.ejs.ejs") %>
<% includes("./includes/head-end.ejs.ejs") %>
<% includes("./includes/header.ejs.ejs") %>

<p>Welcome Home!</p>

<% includes("./includes/end.ejs.ejs") %>