body {
  width: 80%;
  margin: auto;
  text-align: center;
  font: 1em sans-serif;
}


.main-heaeder-nav {
display: flex;
flex-flow: row nowrap;
justify-content: start;
background-color: aquamarine;

}

.main-header-nav-item {
  order:0;
  padding: 1em;
  cursor: pointer;
  
}
.main-header-nav-item a {  
  font-size: 2rem;
  color: darkgray;
  text-decoration: none;
}
.main-header-nav-item:hover,
.main-header-nav-item:active,
.main-header-nav-item.active{
  color:gold;  
  background-color:  gold  ;
  font-weight: bold;
}



.card-holder {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: flex-start;
}
.card {
  order:0;
  padding: 1em;
  margin: 1em;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-content: center;
}


.card-image {
  order:3;
}
.card-title {
  order:3;
  font-size: 2rem;
  color: darkgray;
}
.card-description {
  order:3;
  font-size: 1.2rem;
}

.main-container {
  width: 100%;
  margin:auto;
  margin-top: 50px;  
  align-items: center;
  border: 1px solid #BFBFBF;
  box-shadow: 10px 10px 5px #aaaaaa;

}

.form-container {
  width: 100%;
  margin:auto;
  align-items: center;  
  display :flex;
  flex-flow: column nowrap;
}
.form-container form {
  width: 50%;
  display :flex;
  flex-flow: column nowrap;
  }

.form-container input {
order :0;
justify-content: space-evenly;
margin-top: 5px;
margin-bottom : 5px;
}

.inner-container {
  border: 1px solid #BFBFBF;
margin:10px;
}
hr.solid {
  border-top: 3px  #BFBFBF;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}
@media only screen and (min-width: 1000px) {
  body {
    width: 800px;
  }
}