body {
  width: 100%;
  margin: 0;
  text-align: center;
  font: 1em sans-serif;
}

.main {
width: 80%;
margin: auto;
text-align: center;
}


.main-heaeder-nav {
  
display: flex;
flex-flow: row nowrap;
justify-content: start;
background-color: gold;

}

.main-header-nav-item {
  order:0;
  padding: 1em;
  cursor: pointer;
  
}
.main-header-nav-item a {  
  font-size: 2rem;
  color: darkgray;
  text-decoration: none;
}
.main-header-nav-item:hover,
.main-header-nav-item:active,
.main-header-nav-item.active{
  color:gold;  
  background-color:  white  ;  
}



.card-holder {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: flex-start;
}
.card {
  order:0;
  padding: 1em;
  margin: 1em;
  border: 1px solid;
  border-radius: 2px;
  border-color: gold;
  box-shadow: 5px 5px 5px darkgray;

  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-content: center;
}

.button {  
  background-color: white;
  border: solid;
  border-color: gold;
  border-radius: 5px;
  color: darkgray;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;  
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;  
}

.button:hover,
.button:active,
.button.active{
  color: white;
  background-color: gold;
}

.card-content {

  margin-top: 5px;
}


.card-image {
  max-height: 250px;
  max-width: 150px;

}
.card-title {

  font-size: 2rem;
  color: darkgray;
}

.card-author {
  color: gray;
  font-style: italic;
  font-size: 1rem;
}
.card-description {
  color: black;

  font-size: 0.8rem;
}

.main-container {
  width: 100%;
  margin:auto;
  margin-top: 50px;  
  align-items: center;
  border: 1px solid gold;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #aaaaaa;

}

.form-container {
  width: 100%;
  margin:auto;
  align-items: center;  
  display :flex;
  flex-flow: column nowrap;
}
.form-container form {
  width: 50%;
  display :flex;
  flex-flow: column nowrap;
  }

.form-container input {
  border: 1px solid;
  border-color: gold;
  border-radius: 5px;
order :0;
justify-content: space-evenly;
margin-top: 5px;
margin-bottom : 5px;
}

.actions {
  margin: auto;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
}

img{

  max-width: 100%;

  max-height: 100%;

  display: block; /* remove extra space below image */

}

.inner-container {
  border: 1px solid #BFBFBF;
margin:10px;
}
hr.solid {
  border-top: 3px  #BFBFBF;
}

@media only screen and (max-width: 600px) {
  .main {
    width: 100%;
  }
}
@media only screen and (min-width: 1000px) {
  .main {
    width: 800px;
  }
}